// src/app/pages/usuarios/lista-usuarios/lista-usuarios.component.scss
@use '../../../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.acciones {
  display: flex;
  gap: 6px;
}

@media (max-width: 600px) {
  .tabla {
    .col-email,
    .col-fecha {
      display: none;
    }
  }
}